
.intro_bg{
    width: 100%;
    height: 700px;
    background-color: sienna;
}
.intro_text{
    width: 100%;
    text-align: center;
    position: relative;
    top: 300px;
}
.intro_text > h1, .intro_text > h4 {
    color: #fff;
}
.intro_bg{
    background-image: url("../images/img102.jpg");
    background-size: 100% 700px;
}

/* =========================2차 intro_bg e */
/* 전체영역잡기 */
.contents{
    width: 100%;
    height: 700px;
    background-color: lightslategrey;
}
/* 사용할 영역잡기 */
.content01{
    width: 1280px;
    height: 700px;
    background-color: lightgreen;
}
.content01_h1{
    width: 100%;
    height: 100px;
    background-color: lightpink;
    text-align: center;
}
.content01_h1 > h1{
    padding-top: 30px;
}
/* 테이블 영역잡기 */
#div_table{
    width: 1280px;
    height: 500px;
    background-color: lightsalmon;
}
 
/* list */
#div_table > table{
    width: 80%;
    height: 500px;
    background-color: lightskyblue;
}
 
th, td {
    text-align: center;
    border-bottom: 2px solid lightslategrey;
}
.div_paging{
    width: 100%;
    height: 100px;
    background-color: lightcyan;
}
.div_paging_a{
    width: 300px;
    height: 30px;
    background-color: lightpink;
    text-align: center;
    padding-top: 20px;
}
.div_board_write{
    width: 100px;
    height: 50px;
    background-color: limegreen;
    position: relative;
    left: 510px;
    top: -30px;
} 

.div_board_write > input{
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.contents, .content01, .content01_h1, #div_table, #div_table > table,
     .div_paging, .div_paging_a, .div_board_write{
    background-color: #fff;
}


.div_board_write > input:active{
    transform:translate(2px,2px);
}

.div_paging_a > a{
   padding-left:7px
}
.div_paging_a > a:hover {
   color: lightskyblue;
   font-weight:bold;
}

